DJANGO_BAAS_URL=http://django-web:8000/api/v1/
DJANGO_BAAS_API_TOKEN=seu_token
DJANGO_SECRET_KEY=sua_key
DEBUG=True
DJANGO_LOGLEVEL=info
DJANGO_ALLOWED_HOSTS=url_autorizada
DATABASE_ENGINE=postgresql
DATABASE_NAME=dockerdjango
DATABASE_USERNAME=dbuser
DATABASE_PASSWORD=dbpassword
DATABASE_HOST=db
DATABASE_PORT=5432
#SUPERUSUARIO
DJANGO_SUPERUSER_USERNAME=seu_username
DJANGO_SUPERUSER_EMAIL=seu_email
DJANGO_SUPERUSER_PASSWORD=sua_senha

#WAHA
WAHA_API_KEY=sua_key
WAHA_DASHBOARD_USERNAME=admin
WAHA_DASHBOARD_PASSWORD=sua_senha
WHATSAPP_SWAGGER_USERNAME=admin
WHATSAPP_SWAGGER_PASSWORD=sua_senha
WAHA_API_URL=http://waha:3000
WAHA_INSTANCE_KEY=default
WHATSAPP_HOOK_URL=http://seu_dominio/webhook
WHATSAPP_HOOK_EVENTS=message
WEBHOOK_HMAC_SECRET=seu_hmac

#REDIS
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0 
CELERY_REDIS_DB=2
REDIS_CACHE_DB=3 

GROQ_API_KEY=api_groq

#CONGIG NGINX AUTORIZA EM DJANGO/SETTINGS
CSRF_TRUSTED_ORIGINS=url_autorizada

#CTT DE SUPORTE
SUPORTE_WA_ID=seu_numero
SUPORTE_FULL_NAME=seu_nome

# CALENDAR
ID_AGENDA=email_da_agenda_alterada #agenda principal

#INFORMAÇÕES CLIENTE
CLINICA_NOME="Clinica exemplo"
CLINICA_EMAIL="email_example@gmail.com"
CLINICA_ENDERECO="Rua exemplo"
